<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">H O M E</a></li>
		        	<li><a href="https://www.linkedin.com/in/tom-li-3122b9106
">L I N K E D I N</a></li>
	        		<li><a href="/resume/resume.pdf">R E S U M E</a></li>
	        		<li><a href="/blog">W R I T I N G S</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:weirdotomli@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cosmicac">github.com/cosmicac</a></li>
				</ul>
			</footer>
		</body>
	</html>